@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  /*font-family: "Work Sans", sans-serif;*/

/*----Загальні стилі----*/

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    color: #707273;
    text-align: center;
    line-height: 1.6;
}

.btn {
    border-radius: 6px;
    background-color: #35AFBF;
    padding: 15px 30px;
    color: #FFFFFF;
}

/*--------HEADER--------*/

header {
    display: flex;
    background-color: #F3FEFF;
    height: 120px;
}

.header__logo {
    width: 103px;
    height: 37px;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right-content {
    display: flex;
    align-items: center;
    gap: 150px;
}

.header__nav {
    display: flex;
    gap: 45px;
}

.menu-icon {
    display: none;
}

/*-------SECTION CREATIVE------*/

.creative {
    background-color: greenyellow;
    margin-bottom: 120px;
}

.creative__container {
    display: flex;
    background-color: orange;
}

.creative__block {
    background-color: fuchsia;
    width: 50%;
    padding-top: 120px;
}

.creative__img-wrap {
    margin-right: -120px;
}

.creative__title {
    color: #252626;
    font-size: 51px;
    font-weight: 700;
    line-height: 1.3;
}

.creative__text {
    color: #707273;
    font-size: 21px;
    margin: 20px 0 30px;
    text-align: start;
}

.highlight {
    color: #35AFBF;
}

/*-------SECTION PROVIDE------*/

.provide {
    margin-bottom: 200px;
}

.provide__title {
    color: #252626;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

.card-title {
    color: #252626;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    margin: 25px 0;
}

.provide__text {
    width: 600px;
    margin: 0 auto 60px;
}

.provide__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    padding: 30px;
    transition: background-color 0.3s;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: orange;
}

.provide__card:hover {
    border: 1px solid #A3E0E8;
    background: #D1F4F9;
}


.card-img {
    width: 83px;
    height: 83px;
}
