@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*font-family: "Work Sans", sans-serif;*/

/*----Загальні стилі----*/

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    color: #707273;
    text-align: center;
    line-height: 1.6;
}

.btn {
    border-radius: 6px;
    background-color: #35AFBF;
    padding: 15px 30px;
    color: #FFFFFF;
}

/*--------HEADER--------*/

header {
    display: flex;
    background-color: #F3FEFF;
    height: 120px;
}

.header__logo {
    width: 103px;
    height: 37px;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right-content {
    display: flex;
    align-items: center;
    gap: 150px;
}

.header__nav {
    display: flex;
    gap: 45px;
}

.menu-icon {
    display: none;
}

/*-------SECTION CREATIVE------*/

.creative {
    margin-bottom: 120px;
    background-color: #F3FEFF;
}

.creative__container {
    display: flex;
}

.creative__block {
    width: 50%;
    padding-top: 120px;
}

.creative__img-wrap {
    margin-right: -120px;
}

.creative__title {
    color: #252626;
    font-size: 51px;
    font-weight: 700;
    line-height: 1.3;
}

.creative__text {
    color: #707273;
    font-size: 21px;
    margin: 20px 0 30px;
    text-align: start;
}

.highlight {
    color: #35AFBF;
}

/*-------SECTION PROVIDE------*/

.provide {
    margin-bottom: 150px;
}

.provide__title {
    color: #252626;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

.card-title {
    color: #252626;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    margin: 25px 0;
}

.provide__text {
    width: 600px;
    margin: 0 auto 60px;
}

.provide__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    padding: 30px 0;
    transition: background-color 0.3s;
    border-radius: 10px;
    border: 1px solid transparent;
}

.provide__card:hover {
    border: 1px solid #A3E0E8;
    background: #D1F4F9;
}

.card-img {
    width: 83px;
    height: 83px;
}

.provide__cards {
    display: flex;
    justify-content: space-around;
}

/*-------SECTION DOE------*/

.doe {
    padding-bottom: 130px;
}

.doe__title {
    color: #252626;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 10px;
}

.doe__btn {
    background-color: #FFFFFF;
    color: #35AFBF;
    border: 1px solid rgba(53, 175, 191, 0.20);
    width: max-content;
}

.doe__block {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}

.doe__container {
    display: flex;
}

.doe__img {
    width: 393px;
    margin-left: 258px;
}

.doe__text {
    text-align: start;
}

.doe__text2 {
    margin: 20px 0 35px;
    max-width: 450px;
}

/*-------SECTION VIDEO------*/


.video-section {
    position: relative;
    background: url('./images/image-video.jpg') center/cover no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 120px;
    color: #FFFFFF;
}

.video-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(16, 41, 45, 0.76);
}

.overlay {
    position: relative;
    max-width: 765px;
    z-index: 1;
}

.overlay__title {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.overlay__text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 36px;
    color: #FFFFFF;
}

.play-button {
    width: 93px;
    height: 93px;
    background: #FFFFFF;
    border-radius: 50%;
    transition: background 0.3s;
}

.play-button:hover {
    background: #e6e6e6;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background-color: #000;
    padding: 0;
    max-width: 800px;
}

.modal-content iframe {
    display: block;
}

.close-btn {
    position: absolute;
    top: -35px;
    right: 0;
    font-size: 28px;
    color: #FFFFFF;
    background-color: #000000;
    padding: 0 9px;
    border-radius: 50%;
}

/*----------FEATURES---------*/
.features {
    padding-bottom: 120px;
}

/*.features__container {*/
/*    background-color: #00A5AD;*/
/*}*/

.features__title {
    color: #252626;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}

.features__text {
    width: 785px;
    margin: 0 auto 60px;
}

.sleek-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 315px;
}

.sleek-title {
    color: #252626;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
}

.sleek-text {
    margin: 15px auto 30px;
}

.short-line {
    width: 250px;
    height: 2px;
    margin: 15px auto 0;
    background: linear-gradient(to right, rgba(0, 162, 181, 0), #00a2b5, rgba(0, 162, 181, 0));
    opacity: 0.6;
}

.sleek-img, .provide-img {
    width: 80px;
    height: 80px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #35AFBF;
}

.features__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
}

/*---------ALWAYS-------*/

.always {
    padding: 100px 0;
    background-color: #D1F4F9;
}

.always__logo {
    display: block;
    margin: 0 auto;
}

.always__img {
    display: block;
    margin: 0 auto;
}

.always__text {
    margin: 40px 0 30px;
    color: #4B4C4C;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
}

/*----------PEOPLE---------*/

.people {
    padding: 120px 0;
}

.people__title {
    color: #252626;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.4;
    width: 854px;
    margin: 0 auto 50px;
}

.people-btn {
    display: block;
    margin: 0 auto;
}

/*-----------SUBSCRIBE---------*/

.subscribe {
    background-color: #2C353E;
    padding-bottom: 50px;
    padding-top: 80px;
}

.subscribe__card {
    color: #FFFFFF;
}

.subscribe-text {
    margin-top: 15px;
}

.subscribe__title {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15px;
}

.subscribe-btn {
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.30);
    background-color: #2C353E;
    margin-top: 20px;
}

.subscribe__container {
    display: flex;
    justify-content: space-between;
}

.price-container {
    display: flex;
    align-items: flex-start;
}

.currency-symbol {
    font-size: 16px;
    margin-right: 2px;
    line-height: 1.6;
}

.price-value {
    font-size: 38px;
}

.price-unit {
    font-size: 16px;
    align-self: flex-end;
}

/*------------FOOTER----------*/

.footer {
    background-color: #2C353E;
    padding-bottom: 40px;
    color: #FFFFFF;
}

.footer .container {
    border-top: 1px solid#4B4B4B;
}

.footer-naw-text {
   font-weight: 500;
    display: flex;
    gap: 35px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-socials {
    display: flex;
    gap: 40px;
}

.footer-text {
    text-align: start;
    margin-top: 12px;
}
